@model VideoGameGallery.Models.VideoGame[]

@{
    ViewBag.Title = "Video Games";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var videoGame in Model)
    { 
        <div class="col-md-3">
            <h4>@Html.ActionLink(videoGame.GameName, "Detail", new { id = videoGame.Id })</h4>
            <a href="@Url.Action("Detail", new { id = videoGame.Id })">
                <img src="/Images/@videoGame.CoverImageFileName" 
                     alt="@videoGame.GameName" class="img-responsive" />
            </a>
        </div>
    }
</div>