@model VideoGameGallery.Models.VideoGame[]


@{
    ViewBag.Title = "Video Games";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var videoGame in Model)
    { 
        <div class="col-md-3">
            <h4>@videoGame.GameName</h4>
            <img src="/Images/@videoGame.CoverImageFileName" 
                 alt="@videoGame.GameName" class="img-responsive" />
        </div>
    }
</div>