@{
    Layout = null;

    var seriesTitle = "Street Fighter";
    var gameName = "Street Fighter 2: Champion Edition";
    var description = "<p>Street Fighter II: Champion Edition is a competitive fighting game released for the arcades by Capcom in 1992</p>";
    var developers = new string[]
    {
        "Producer(s): Yoshiki Okamoto",
        "Designer(s): Akira Nishitani, Akira Yasuda",
        "Composer(s): Isao Abe"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>@gameName</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>

        @if (developers.Length > 0)
        {
            <h5>Developers:</h5>
            <div>
                <ul>
                    @foreach (var developer in developers)
                    {
                        <li>@developer</li>
                    }
                </ul>
            </div>
        }        
    </div>
</body>
</html>
