@{
    Layout = null;    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>@ViewBag.GameName</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(ViewBag.Description)</div>

        @if (ViewBag.Developers.Length > 0)
        {
            <h5>Developers:</h5>
            <div>
                <ul>
                    @foreach (var developer in ViewBag.Developers)
                    {
                        <li>@developer</li>
                    }
                </ul>
            </div>
        }        
    </div>
</body>
</html>
